@charset "UTF-8";
@import "@style/common/variable.scss";
@import '@style/common/_mq.scss';

@include mq-range(sp){
    @import '@style/common/_mixin_sp.scss';

    .title {
        padding: 4.8% 0;
        text-align: center;
        font-size: 1.8rem;
    }

    .imgBox {
        padding: 16% 8%;
        background-color: $main-color;
        &In {
            margin: 0 auto;
            width: 100%;
            box-shadow: 0 0 8px rgba(0,0,0,0.3);
            img {
                width: 100%;
            }
        }
    }

    .detailBox {
        padding: 10% 0;
        background-color: #FFF;
        &In {
            margin: 0 auto;
            width: 100%;
            &__lists {
                padding: 2.4% 6%;
                dt {
                    padding: 4.8% 4.8% 4.8% 0;
                    display: block;
                    width: 60%;
                    font-size: 1.4rem;
                }
                dd {
                    margin: 0 0 6.4% auto;
                    border-bottom: solid 1px #000;
                    padding: 4.8%;
                    width: 86%;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .contentBox {
        padding: 12% 6.4%;
        background-color: $main-color;
        &__txt {
            margin: 0 auto;
            width: 100%;
            color: #FFF;
            line-height: 1.5;
        }
    }

    .backBtn {
        padding: 48px 0;
        display: flex;
        justify-content: space-around;
        @include normal_button();
    }
}

@include mq-range(pc){
    @import '@style/common/_mixin_pc.scss';

    .title {
        padding: 36px 64px;
        font-size: 2.0rem;
    }

    .imgBox {
        padding: 64px 0;
        background-color: $main-color;
        &In {
            margin: 0 auto;
            width: 640px;
            box-shadow: 0 0 8px rgba(0,0,0,0.3);
            img {
                width: 100%;
            }
        }
    }

    .detailBox {
        padding: 64px 0;
        background-color: #FFF;
        &In {
            margin: 0 auto;
            width: 540px;
            &__lists {
                padding: 6px;
                dt {
                    margin-bottom: 4px;
                    padding: 4px;
                    display: block;
                    width: 16%;
                    font-size: 1.4rem;
                }
                dd {
                    margin: 0 0 16px auto;
                    border-bottom: solid 1px #000;
                    padding: 8px;
                    width: 84%;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .contentBox {
        padding: 64px 0;
        background-color: $main-color;
        &__txt {
            margin: 0 auto;
            width: 640px;
            color: #FFF;
            line-height: 1.6;
        }
    }

    .backBtn {
        padding: 48px 0;
        display: flex;
        justify-content: space-around;
        @include normal_button(360px);
    }
}