@charset "UTF-8";
@import '../../_common.scss';

@include mq-range(pc){
    @import '../../_mixin_pc.scss';

    .title {
        padding: 36px 64px;
        font-size: 2.0rem;
    }

    .imgBox {
        padding: 64px 0;
        background-color: rgba($accent-color, .3);
        &In {
            margin: 0 auto;
            width: 640px;
            box-shadow: 0 0 8px rgba(0,0,0,0.3);
        }
    }

    .detailBox {
        padding: 64px 0;
        background-color: #FFF;
        &In {
            margin: 0 auto;
            width: 540px;
            &__lists {
                padding: 6px;
                dt {
                    margin-bottom: 4px;
                    padding: 4px;
                    display: block;
                    width: 16%;
                    font-size: 1.4rem;
                }
                dd {
                    margin: 0 0 16px auto;
                    border-bottom: solid 1px #000;
                    padding: 8px;
                    width: 84%;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .contentBox {
        padding: 64px 0;
        background-color: rgba($accent-color, .3);
        &__txt {
            margin: 0 auto;
            width: 540px;
        }
    }

    .backBtn {
        padding: 48px 0;
        display: flex;
        justify-content: space-around;
        @include normal_button(360px);
    }
}