@charset "UTF-8";
@import '../_common.scss';

@include mq-range(sp){
    .footer {
        padding: 6% 0;
        width: 100%;
        &In {
            text-align: center;
            color: #000;
            font-size: 1.2rem;
        }
    }
}

@include mq-range(pc){
    .footer {
        padding: 24px 0;
        border-top: solid 1px #CCC;
        width: 100%;
        min-width: $pc-min-size;
        &In {
            text-align: center;
            font-size: 1.3rem;
        }
    }
}
