@charset "UTF-8";
@import '../_common.scss';

@include mq-range(sp){
    .header {
        display: none;
    }
}

@include mq-range(pc){
    .header {
        margin: 0 auto;
        padding: 24px 16px;
        border-bottom: solid 1px #CCC;
        width: $pc-min-size;
        &In {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 2.4rem;
        }
    }
}
