@charset "UTF-8";
@import "@style/common/variable.scss";
@import '@style/common/_mq.scss';


@include mq-range(sp){
    .menuList {
        width: 18vw;
        &__li {
            border-radius: 40px;
            position:absolute;
            display: block;
            background-color: #FFF;
            width: 20vw;
            text-align: center;
            &:nth-child(1) {
                bottom: 42vw;
                right: 42vw;
            }
            &:nth-child(2) {
                bottom: 24vw;
                right: 24vw;
            }
            &:nth-child(3) {
                bottom: 6vw;
                right: 6vw;
            }
            a {
                padding: 3vw 2vw;
                display: block;
                text-align: center;
                color: #000;
                font-weight: bold;
                text-decoration: none;
            }
        }
        &__li {
            &__on {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        $delay:  0.3 -($i * 0.06) + s;
                        animation: list_animation .4s $delay;
                    }
                }
            }
        }
    }
}

@include mq-range(pc){
    .menuList {
        display :flex;
        justify-content: space-around;
        width: 648px;
        &__li {
            width: 200px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@keyframes list_animation {
    0%,100% {transform: scale(1);}
	30% {transform: translateY(-25%);}
	50% {transform: scale(1);}
	90% {transform: tranlateY(0); transform: scale(1.2,0.8);}
}