@charset "UTF-8";
@import "@style/common/variable.scss";
@import '@style/common/_mq.scss';


@include mq-range(sp){
    .menuList {
        width: 18vw;
        &__li {
            border-radius: 40px;
            padding: 8% 0;
            position:absolute;
            display: block;
            background-color: #FFF;
            width: 20vw;
            text-align: center;
            &:nth-child(1) {
                bottom: 26vw;
                right: 26vw;
            }
            &:nth-child(2) {
                bottom: 15vw;
                right: 15vw;
            }
            &:nth-child(3) {
                bottom: 3vw;
                right: 3vw;
            }
            a {
                padding: 4vw 2vw;
                text-align: center;
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@include mq-range(pc){
    .menuList {
        display :flex;
        justify-content: space-around;
        width: 648px;
        &__li {
            width: 200px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
