@charset "UTF-8";
@import '../_common.scss';

@include mq-range(sp){
    .menuList {
        width: 14vw;
        &__li {
            border-radius: 40px;
            position:absolute;
            display: block;
            background-color: #FFF;
            &:nth-child(1) {
                bottom: 20vw;
                right: 20vw;
            }
            &:nth-child(2) {
                bottom: 12vw;
                right: 12vw;
            }
            &:nth-child(3) {
                bottom: 4vw;
                right: 4vw;
            }
            a {
                padding: 4vw 2vw;
                text-align: center;
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@include mq-range(pc){
    .menuList {
        display :flex;
        width: 720px;
        &__li {
            width: 240px;
            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}
