@mixin normal_button($width: 240px){
    a {
        border: solid 1px #000;
        border-radius: 4px;
        padding: 16px;
        display: block;
        width: $width;
        color: #000;
        text-align: center;
        text-decoration: none;
        background: linear-gradient(90deg,
        rgba(0,0,0,.3),
        rgba(0,0,0,.3),
        #ffffff,
        #ffffff);
        background-position: 99% 50%;
        background-size: 300% 300%;
        transition: all 0.7s ease-out;
        &:hover {
            background-position: 1% 50%;
            color: #FFF;
        }
    }
}